streamlit
pandas
numpy
plotly
openpyxl
plotly.express
plotly.graph_objects
altair
folium
streamlit-folium
geopandas
shapely
osmnx
networkx
geopy
overpy
pyrosm
h3
pyproj
scipy
scikit-learn
requests
joblib
matplotlib
